* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

:root {
  --body-bg-clr: white;
  --body-font-clr: rgb(5, 5, 5);
  --header-font-size: clamp(1.8rem, 3rem, 3vw);
}

body {
  background: var(--body-bg-clr);
  color: var(--body-font-clr);
}

main {
  width: clamp(90vw, 150rem, 90vw);
  margin: 0 auto;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid purple;
}

main header h1 {
  font-size: var(--header-font-size);
  font-weight: 100;
  margin-left: 1rem;
}

@media screen and (max-width: 650px) {
  main header h1 {
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

main header .icon svg {
  font-size: 4rem;
  color: purple;
}

main .input-note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

main .input-note-container input,
main .input-note-container textarea {
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  font-size: clamp(1.8rem, 2.2rem, 3vw);
  letter-spacing: 0.1rem;
  width: 100%;
  background: #e4a1e4;
  border-radius: 0.3rem;
  margin: 0.3rem;
  text-align: center;
  padding: 0.4rem 1rem;
  font-family: inherit;
}

main .input-note-container input:focus, main .input-note-container input:focus-within,
main .input-note-container textarea:focus,
main .input-note-container textarea:focus-within {
  background: #e789d9;
}

@media screen and (max-width: 650px) {
  main .input-note-container {
    width: 100%;
  }
}

main .input-note-container textarea {
  min-height: 13rem;
  text-align: left;
  resize: none;
}

main .input-note-container button {
  position: absolute;
  right: -1rem;
  bottom: -0.8rem;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  background: #06e04f;
  border-radius: 50%;
  height: 5.5rem;
  width: 4rem;
}

main .input-note-container button:hover {
  background: #04b940;
  -webkit-box-shadow: 0 0.3rem 1rem rgba(49, 38, 46, 0.5);
          box-shadow: 0 0.3rem 1rem rgba(49, 38, 46, 0.5);
}

main .input-note-container button svg {
  font-size: clamp(3rem, 3.5rem, 3vw);
}

.output-note-container {
  width: 100%;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(20rem, 30rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  grid-gap: 2rem;
}

.output-note-container div {
  background: #f8a8f8;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  min-height: 15rem;
}

.output-note-container div:hover {
  background: #eb7ceb;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.output-note-container div h1,
.output-note-container div p {
  padding: 0.3rem 1rem;
}

.output-note-container div h1 {
  text-align: center;
  font-size: clamp(1.6rem, 2.2rem, 3vw);
  font-weight: 100;
  border-bottom: 1px dotted purple;
}

.output-note-container div p {
  font-size: clamp(1.4rem, 1.9rem, 3vw);
}

@media screen and (max-width: 650px) {
  .output-note-container {
    -ms-grid-columns: 0.9fr;
        grid-template-columns: 0.9fr;
    margin-top: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */