* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    appearance: none;
    transition: all 0.25s ease;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
// :root {
//     --body-bg-clr: white;
//     --body-font-clr: rgb(5, 5, 5);

//     --header-font-size: clamp(2rem, 3rem, 3vw);
//     --header-h1-font-clr: black;

//     --primary-bg-clr: rgb(197, 6, 197);
//     --normal-font-clr: white;

//     --border-clr: purple;
// }
.light-theme {
    --body-bg-clr: linear-gradient(
        145deg,
        rgb(90, 121, 221) 50%,
        rgb(16, 110, 110) 0%,
        rgb(226, 220, 220)
    );
    --body-font-clr: rgb(212, 209, 209);

    --header-font-size: clamp(2rem, 3rem, 3vw);
    --header-h1-font-clr: black;
    --header-svg-clr: purple;

    --primary-bg-clr: linear-gradient(
        120deg,
        rgb(123, 20, 220) 0%,
        purple 80%,
        rgb(149, 79, 196) 100%
    );
    --normal-font-clr: rgb(240, 240, 240);

    --input-bg-clr: linear-gradient(135deg, rgb(123, 20, 220), purple, purple);
    --input-focus-bg-clr: linear-gradient(
        135deg,
        rgb(111, 9, 206),
        rgb(141, 3, 141) 20%,
        purple
    );
    // --input-box-shadow-clr: rgba(0, 0, 0, 0.4);
    --input-box-iner-shadow-clr: rgb(88, 86, 86);
    --input-box-iner-shadow-clr2: rgb(99, 98, 98);

    --border-clr: purple;

    --output-div-before-bg-clr: rgb(250, 119, 59);
    --output-div-hover-bg-clr: linear-gradient(
        120deg,
        rgb(123, 20, 220) 0%,
        purple 50%,
        rgb(149, 79, 196) 100%
    );
    // --output-div-box-shadow-clr: rgba(0, 0, 0, 0.3);
}
.dark-theme {
    --body-bg-clr: linear-gradient(
        145deg,
        rgba(22, 13, 13, 1) 50%,
        rgba(18, 21, 27, 1) 0%,
        rgb(18, 14, 15)
    );
    --body-font-clr: rgb(229, 226, 226);

    --header-font-size: clamp(2rem, 3rem, 3vw);
    --header-h1-font-clr: rgb(231, 230, 230);
    --header-svg-clr: rgb(160, 3, 207);

    --primary-bg-clr: linear-gradient(
        120deg,
        rgb(69, 13, 109) 0%,
        rgb(123, 20, 220) 100%
    );
    --normal-font-clr: rgb(226, 224, 224);

    --input-bg-clr: linear-gradient(
        135deg,
        rgb(129, 18, 233),
        rgb(134, 9, 134),
        purple
    );
    --input-focus-bg-clr: linear-gradient(
        135deg,
        rgb(111, 9, 206),
        rgb(141, 3, 141) 20%,
        purple
    );
    --input-box-iner-shadow-clr: rgb(8, 8, 8);
    --input-box-iner-shadow-clr2: rgb(43, 43, 43);
    // --input-focus-bg-clr: rgb(99, 3, 3);
    // --input-box-shadow-clr: rgba(56, 56, 56, 0.5);

    --border-clr: rgb(123, 7, 201);

    --output-div-before-bg-clr: rgb(123, 7, 201);
    --output-div-hover-bg-clr: linear-gradient(
        120deg,
        rgb(69, 13, 109) 0%,
        rgb(123, 20, 220) 80%,
        rgb(133, 133, 133)
    );
    // --output-div-box-shadow-clr: rgba(54, 54, 54, 0.4);
}
body {
    background: var(--body-bg-clr);
    color: var(--body-font-clr);
    min-height: 100vh;
    background-repeat: no-repeat;
}
main {
    width: clamp(90vw, 150rem, 90vw);
    margin: 0 auto;

    header {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid var(--border-clr);
        h1 {
            font-size: var(--header-font-size);
            font-weight: 100;
            margin-left: 1rem;
            animation: header-animate 1s ease forwards 100ms;
            color: var(--header-h1-font-clr);
            @media screen and (max-width: 650px) {
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
            @keyframes header-animate {
                0% {
                    opacity: 0;
                    transform: scale(4);
                }
                100% {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .icon {
            animation: header-animate 1s ease forwards 100ms;
            svg {
                font-size: 4rem;
                color: var(--header-svg-clr);
            }
            @keyframes header-animate {
                from {
                    opacity: 0;
                    transform: scale(4);
                }
                to {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .input-note-container {
        // border:1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin-top: 4rem;
        margin-bottom: 2rem;
        width: 50%;
        margin: 3rem auto 3rem auto;
        position: relative;
        animation: inputter 1s ease forwards 150ms;
        @keyframes inputter {
            from {
                opacity: 0;
                transform: translateY(20rem) scale(3);
            }
            to {
                opacity: 1;
                transform: translateY(0) scale(1);
            }
        }

        input,
        textarea {
            box-shadow: 0.7rem 0.7rem 1rem var(--input-box-shadow-clr);
            box-shadow: inset 0.3rem 0.3rem 0.6rem
                var(--input-box-iner-shadow-clr);
            box-shadow: inset -0.3rem -0.3rem 0.6rem
                var(--input-box-iner-shadow-clr2);
            font-size: clamp(1.8rem, 2.2rem, 3vw);
            letter-spacing: 0.1rem;
            width: 100%;
            // background: rgb(228, 161, 228);
            background: var(--input-bg-clr);
            border-radius: 0.3rem;
            margin: 0.3rem;
            text-align: center;
            padding: 0.4rem 1rem;
            font-family: inherit;
            color: var(--normal-font-clr);
            &::placeholder {
                color: var(--normal-font-clr);
            }

            &:focus,
            &:focus-within {
                background: var(--input-focus-bg-clr);
                // background: rgb(238, 114, 56);
                color: rgb(255, 255, 255);
            }
        }
        @media screen and (max-width: 650px) {
            width: 100%;
        }
        textarea {
            min-height: 13rem;
            text-align: left;
            resize: none;
        }
        button {
            position: absolute;
            right: -1rem;
            bottom: -0.8rem;
            transform: scale(0.6);
            background: rgb(6, 224, 79);
            border-radius: 50%;
            height: 5.5rem;
            width: 4rem;
            &:hover {
                background: rgb(4, 185, 64);
                box-shadow: 0 0.3rem 1rem rgba(49, 38, 46, 0.5);
            }
            svg {
                font-size: clamp(3rem, 3.5rem, 3vw);
            }
        }
    }
}
.output-note-container {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
    grid-gap: 4rem;
    div {
        // background: rgb(248, 168, 248);
        background: var(--primary-bg-clr);
        // background: rgb(236, 93, 27);
        box-shadow: 0.5rem 0.5rem 1rem var(--output-div-box-shadow-clr);
        border-radius: 0.5rem;
        min-height: 15rem;
        position: relative;
        overflow: hidden;
        animation: list-animate 1s ease forwards;
        transition: all 0.25s ease;
        &:hover {
            // background: rgb(235, 124, 235);
            transform: scale(1.07);
            background: var(--output-div-hover-bg-clr);
        }
        // @keyframes list-animate {
        //     from {
        //         opacity: 0;
        //         transform: translateY(-15rem) rotate(30deg);
        //     }
        //     to {
        //         opacity: 1;
        //         transform: translateY(0) rotate(0);
        //     }
        // }
        // &:before {
        //     position: absolute;
        //     content: '';
        //     height: 0%;
        //     width: 0.3rem;
        //     bottom: 0;
        //     left: 0;
        //     background: var(--output-div-before-bg-clr);
        //     transition: 0.25s;
        //     z-index: -1;
        // }
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            width: 0.5rem;
            background: rgb(3, 223, 76);
            left: 0;
            bottom: 0;
        }
        // &:hover::before {
        //     width: 100%;
        //     height: 100%;
        // }
        &:hover::after {
            display: none;
        }
        h1,
        p {
            padding: 0.3rem 1rem;
            color: var(--normal-font-clr);
        }
        h1 {
            text-align: center;
            font-size: clamp(2rem, 2.2rem, 3vw);
            font-weight: 100;
            border-bottom: 1px dotted var(--border-clr);
        }
        p {
            font-size: clamp(1.7rem, 2.1rem, 3vw);
        }
        button.editBtn {
            position: absolute;
            left: 0;
            bottom: -0.7rem;
            background: rgb(245, 235, 235);
            height: 5.5rem;
            border-radius: 50%;
            transform: scale(0.5);
            &:hover svg {
                color: rgb(34, 226, 34);
            }

            svg {
                font-size: 3.5rem;
            }
        }
        button.deleteBtn {
            position: absolute;
            right: 0;
            bottom: -0.7rem;
            background: rgb(245, 235, 235);
            height: 5.5rem;
            border-radius: 50%;
            transform: scale(0.5);
            &:hover svg {
                color: rgb(248, 24, 24);
            }
            svg {
                font-size: 3.5rem;
            }
        }
    }
    @media screen and (max-width: 650px) {
        grid-template-columns: 0.9fr;
        margin-top: 4rem;
    }
}
